@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');

color{
    color:#0081a7,#00afb9,#fdfcdc,#fed9b7,#f07167;
}

*{
    padding:0;
    margin:0;
    font-family:Poppins, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}
body{
    background-color:#e4dad0;
    padding: 10px;
    margin: 0;
}

#header{
    padding:10px;
    margin:0;
    width: 100%;
    background: fdfcdc;
    text-align: center;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

#header #logo img{
     max-width: 25vmin;
     height: auto;
}

#header nav a{
    font-size: clamp(0.7rem,3vw, 1.3rem);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color:#0081a7; 
}
#header nav a:hover{
    opacity: 0.7;
}

#container{
    
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:20px;
    height: 575px ;
    flex-wrap: no-wrap;
    max-width: 500px;
}

#bg-container{
    width:100%;
    height: 90%;
    
}

#content-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-container h1{
    color:#00afb9;
    font-weight: 900;
    font-size: 80px;
    line-height: 1.2em;
    margin-bottom: 30px;
}

#content-container p{
    color:#3b3d3d;
    line-height: 1.8em;
    font-weight:500;
    margin:0;
}